# Dependencies
node_modules/

# Build output
.dist/
dist/

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log

# Environment files
.env
.env.*

# VCS
.git
.gitignore

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests/coverage
coverage/

# Misc
*.swp
*.swo
